<div class="col s12 m6">
    <div class="card">
        <div class="card-content blue-grey-text text-darken-2">
            <div class="logo-job">
                <img src="/images/catho-logo.png" />
            </div>
            <span class="card-title">
                Full Stack Ror
            </span>
            <div class="item-job">
                <b>Empresa</b>
                <p>Ruby Mine</p>
            </div>
            <div class="item-job">
                <b>Salário</b>
                <p>R$ 5.000</p>
            </div>
            <div class="item-job">
                <b>Requisitos</b>
                <ul>
                    <li>Formado em analise e desenvolvimento de sistemas</li>
                    <li>Ter trabalhado pelo menos 1 ano com Ruby on Rails</li>
                    <li>Ter inglês avançado</li>
                </ul>
            </div>
            <div class="item-job">
                <b>Descrição</b>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna ipsum, facilisis sed enim sit amet, 
                    egestas volutpat elit. Sed facilisis purus in ligula pretium, quis malesuada nulla maximus. 
                    Donec pulvinar ante quis lobortis vehicula. Phasellus suscipit congue ornare. In neque justo, facilisis vel ultricies at, 
                    iaculis vel erat. Pellentesque quis magna vestibulum, sodales arcu ac, malesuada ante. Integer in massa mauris.
                </p>
            </div>
        </div>
    </div>
</div>