<h4 class="title">
    Busque seu novo Job <b>Agora Mesmo!!!</b>
</h4>
<div class="search">
    <i class="medium material-icons">search</i>
    <input type="text" placeholder="Qual emprego você está procurando?">
</div>