.description{
    position: relative;
}

.description .icon{
    position: absolute;
    top: 12%;
}

.description .paragraph{
    margin-left: 10% !important;
}

.description .paragraph p{
    margin-top: 25px;
}