<div class="container">
  <%= render 'shared/search'%>
  <div class="row description">
    <div class="col s1 icon">
        <i class="medium material-icons">access_time</i>
    </div>
    <div class="col s11 paragraph">
      <p>
        Você passa horas do seu dia buscando emprego?
        <br />
        <br />
        Deixe isso conosco. Nós estamos de olho diariamente 
        nas vagas de emprego que são anunciadas em vários sites e reunimos
        tudo em um só lugar para poupar seu tempo.
      </p>
    </div>
  </div>

  <div class="row description">
      <div class="col s1 icon">
          <i class="medium material-icons">add_alert</i>
      </div>
      <div class="col s11 paragraph">
        <p>
          Para lhe ajudar mais ainda criamos um sistema de alerta de vagas.
          <br />
          Assim, você nos informa o seu e-mail e as vagas que tem interesse e separamos
          para você as vagas de seu interesse.
        </p>
      </div>
    </div>
</div>